      p{
        vertical-align: middle;
      }

      .box{
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        padding-right: 12px;
        width: 400px;
        border-radius: 6px;
      }
      .image{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50px;
        margin-right: 10px;
        margin-top: 0px;
        vertical-align: middle;
      }

      .link{
        margin-top:0;
        border: none;
        
      }

      .button{
        background-color: rgb(24, 148, 225);
        border: none;
        color: white;
        width:70px;
        height:30px;
        border-radius: 15px;
        font-weight: bold;
        
      }