.box{
  background-color: black;
  width: 360px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.text1{
  font-family: Arial;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 7px;
}

.text2{
  font-family: Arial;
  color: rgb(160, 160, 160);
  margin-top: 0;
  margin-bottom: 0;
}