.flexbox{
  display: flex;
  flex-direction: row;
}

.flex1{
  background-color: lightblue;
  width: 50px;
}

.flex2{
  background-color: lightpink;
  flex: 1;
}

.flex3{
  background-color: lightblue;
  width: 75px;
}